/* rest css */
@font-face {
    font-family: 'Aileron';
    src: url("Aileron-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Aileron';
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.row{
    margin: 0;
}
#article-body{
    padding-top: 100px;
    background-color: black;

}
#article-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px 0 40px 0;
}
#article-header h1{
    color: #B99158;
}
#article-header p{
    color: white;
    text-align: center;
    width: 50%;
}
#article-header #search{
    display: flex;
    width: 50%;
}
#article-header input{
    width: 50%;
}
#article-list{
    padding-top: 50px;
    padding-bottom: 50px;
}
.article_card{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
    gap:20px;
}
.article_card .card{
    background-color: #0A0A0A;
    height: 100%;
    width: 25rem;
    border-radius: 0px;
    color: white;
    transition: all 0.2s ease-in-out;

}
.article_card .card:hover{
    border: solid 0.5px white;
}
.article_card #date-article{
    text-align: end;
}



@media only screen and (max-width: 600px){
    #article-header p{
        color: white;
        text-align: center;
        width: 80%;
        font-size: smaller;
    }
    #article-header #search{
        width: 80%;
    }
    #article-list{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .article_card{
        display: flex;
        flex-direction: column;
    }
    .article_card .card{
        width: 100%;
    }
    .article_card h5{
        font-size: 1.5em;
    }
    .article_card p{
        font-size: 0.8em;
    }
    .article_card #date-article{
        font-size: 0.5em;
    }
}


