/* rest css */
@font-face {
    font-family: 'Aileron';
    src: url("Aileron-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Aileron;

}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: 100%;
}
.row{
    margin: 0;
}

#product-info{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}
#product-image{
    width: 100%;
    padding: 50px;
}

#product-detail{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
}
#notes{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#note{
    color: white;
    width: fit-content;
    padding: 5px;
    border: solid 1px white;
    /* font-size: x-small; */
    margin-top: 20px;
    transition: all 0.2s ease-in-out;

}
#note:hover{
    background-color: white;
    color:#0A0A0A
}
h1{
    color: #B99158;
}
h5 , p{
    color: white;
}
h2{
    color: #B99158;
}
#desc{
    background-color: #0A0A0A;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#marketplace{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 20px;
}
#market{
    width: 100%;
    padding: 20px;
    align-items: center;
    height: 100%;
}
#select-image{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
#select-image img{
    width: 100px;
    height: 100px;
    transition: all 0.2s ease-in-out;
}
#select-image img:hover{
    border: solid 1px white;
}

@media only screen and (max-width: 600px) {
    #product-info{
        display: flex;
        flex-direction: column;
    }

    #cont{
        width: 80px;
        height: 80px;
    }
    #product-image{
        width: 100%;
        padding: 0;
    }
    #hero{
        height: 500px;
        width: 500px;
    }
    #hero-1{
        align-items: center;
        text-align: center;
    }
}


